{% extends "base.html" %}
{% block title %}TOMES: Darcmail Convert{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='dmc.js') }}"></script>
{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    Select a directory containing Mime Emails to transform.
                    <p/>
                    <div id="treeDemo" class="ztree"></div>
                    <p/>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <form>
                        <div class="ui equal width stackable grid">
                            <div class="right aligned row">
                                <div class="column">
                                    Transfer Name:
                                </div>
                                <div class="left aligned column">
                                    <input id="trans_name" type="text" size="40">
                                </div>
                            </div>

                            <div class="right aligned row">
                                <div class="column">
                                    Chunk the output:
                                </div>
                                <div class="left aligned column">
                                    <input id="chunk_size" type="text" size="8" value="1000"><br>
                                    <input id="chunk" type="checkbox" checked>
                                </div>
                            </div>
                            <div class="right aligned row">
                                <div class="column">
                                    Stitch chunks to finalize:
                                </div>
                                <div class="left aligned column">
                                    <input id="stitch" type="checkbox" checked>
                                </div>
                            </div>
                            <div class="right aligned row">
                                <div class="column">
                                    Is this an eml structure?:
                                </div>
                                <div class="left aligned column">
                                    <input id="from_eml" type="checkbox" checked>
                                </div>
                            </div>
                        </div>

                    <button id="btn_submit">Convert</button>

                    <p></p>
                    <div id="prog_bar" style="visibility: hidden">
                        <progress id="p"></progress>
                    </div>
                    <p/>
                    <div id="stdout">
                        <div id="progress_from_server" style="height: 400px; width: 900px; overflow: auto; border:thin black solid; padding: 1em; font-size: 11px"></div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}