{% extends "base.html" %}
{% block title %}TOMES: Darcmail Convert{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='dmc.js') }}"></script>
{% endblock %}

{% block content %}
<div class="push">
    <div class="ui left aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    Select a directory containing Mime Emails to transform.
                    <p/>
                    <div id="treeDemo" class="ztree"></div>
                    <p/>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui form">
                        <div class="six wide field">
                            <label>Transfer Name: </label>
                            <input id="trans_name" type="text" name="trans-name">
                        </div>
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                <input id="chunk" type="checkbox" tabindex="0" class="hidden" checked="checked">
                                <label>Chunk output?</label>
                            </div>
                            <input id="chunk_size" type="text" size="8" value="1000">
                        </div>
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                <input id="stitch" type="checkbox" tabindex="1" class="hidden" checked="checked">
                                <label>Stitch chunks?</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                <input id="from_eml" type="checkbox" tabindex="1" class="hidden" checked="checked">
                                <label>Is source .EML?</label>
                            </div>
                        </div>
                        <button class="ui button" id="btn_submit" type="submit">Convert</button>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="eight wide column">
                <div id="prog_bar" class="ui green progress" style="visibility: hidden">
                    <div id="p" class="bar"></div>
                </div>
                <div id="stdout">
                    <div id="progress_from_server" style="height: 400px; width: 900px; overflow: auto; border:thin black solid; padding: 1em; font-size: 11px"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</div>