{% extends "base.html" %}
{% block title %}TOMES: Tag an EAXs file{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='elastic.js') }}"></script>
{% endblock %}

{% block content %}
<div class="ui form">
    <div class="inline field">
        <label id="ss_slider"></label>
        <button id="elastic_activate" class="ui primary button">Turn Elastic On</button>
    </div>
</div>

<table id="elastic_accounts" class="ui celled padded table">
    <thead>
    <tr>
        <th colspan="3">Accounts With Elastic Indexes</th>
    </tr>
    <tr>
        <th class="single line">Account Name</th>
        <th>Account Location</th>
        <th>Select?</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<table id="elastic_no_accounts" class="ui celled padded table">
    <thead>
    <tr>
        <th colspan="3">Accounts Without Elastic Indexes</th>
    </tr>
    <tr>
        <th class="single line">Account Name</th>
        <th>Account Location</th>
        <th>Select?</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="row">
    <div class="eight wide column">
        <div id="prog_bar" class="ui green progress" style="visibility: hidden">
            <div id="p" class="bar"></div>
        </div>
        <div id="stdout">
            <div id="progress_from_server" style="height: 400px; width: 900px; overflow: auto; border:thin black solid; padding: 1em; font-size: 11px"></div>
        </div>
    </div>
</div>
{% endblock %}