{% extends "base.html" %}
{% block title %}TOMES: Tag an EAXs file{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='nlp_convert.js') }}"></script>
{% endblock %}

{% block content %}
<div class="ui left aligned stackable grid container">
    <div class="row">
        <div class="ten wide column">
            EAXS file to transform:
            <p/>
            <div id="account_list" class="ztree"></div>
            <p/>
        </div>
    </div>
    <div class="row">
        <div class="ten wide column">
            <div class="ui form">
                <div class="field">
                    <label>EAXS Selected</label>
                    <input id="selected_name" type="text" name="selected-name">
                </div>
                <div class="field">
                    <label>Tagged Name</label>
                    <input id="tagged_name" type="text" name="tagged-name">
                </div>
                <button id="btn_submit" class="ui button" type="submit">Convert</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ten wide column">
            <div id="prog_bar" class="ui green progress" style="visibility: hidden">
                <div id="p" class="bar"></div>
            </div>
            <div id="stdout">
                <div id="progress_from_server" style="height: 400px; width: 900px; overflow: auto; border:thin black solid; padding: 1em; font-size: 11px"></div>
            </div>
        </div>
    </div>

{% endblock %}
</div>