{% extends "base.html" %}
{% block title %}TOMES: Convert a PST{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='pst_convert.js') }}"></script>
{% endblock %}

{% block content %}

<div id="treeDemo" class="ztree"></div>

<p></p>
<p>Suggested name of output folder: <input type="text" id="account_name" size="40"></p>
<p><button id="btn_submit">Convert</button></p>
<div id="prog_bar" style="visibility: hidden">
    <progress id="p"></progress>
</div>



<div id="stdout">
    <div id="progress_from_server" style="height: 400px; width: 900px; overflow: auto; border:thin black solid; padding: 1em; font-size: 11px"></div>
</div>
{% endblock %}